<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.crrc.pdasoftware">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/appli"
        android:label="pda"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:label">
        <activity android:name=".activity.all.guzhangchuli.YiwcActivity"></activity>
        <activity android:name=".activity.all.guzhangchuli.WeiwcActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".wuxianzhuanchu.all.activitys.SplashActivity" />
        <activity android:name=".wuxianzhuanchu.all.activitys.FTPLoginActivity" />
        <activity android:name=".wuxianzhuanchu.all.activitys.FileView" />
        <activity android:name=".wuxianzhuanchu.all.activitys.selectFileActivity" />
        <activity
            android:name=".wuxianzhuanchu.all.activitys.HomeActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.all.zhuangxiangdan.ZhuangXDanLiuchengActivity" />
        <activity android:name=".activity.all.zhuangxiangdan.ZhuangxiangdanActivity" />
        <activity
            android:name=".activity.all.guzhangchuli.GuzhangPaigongActivity"
            android:label="@string/title_activity_guzhang_paigong"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.all.guzhangchuli.FuwuxyTianxieActivity" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".activity.all.guzhangchuli.GuZhangActivity" />
        <activity
            android:name=".wuxianzhuanchu.all.activitys.AuthActivity"
            android:label="pda"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.huantansheng.easyphotos.demo.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths_public" />
        </provider>
    </application>

</manifest>